@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

header {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #f4f8fb;
  display: flex;
}

header aside {
  width: 15%;
  height: 100%;
  background-color: #fff;
  padding: 15px 0px 15px 30px;
}

header section {
  position: relative;
  width: 85%;
  height: 100%;
}

header aside .logo {
  font-size: 30px;
  color: #1ca1f1;
}

header aside ul {
  list-style-type: none;
  margin-top: 50px;
}

header aside ul li {
  padding: 10px 0px;
  margin-top: 10px;
}

header aside ul li a {
  text-decoration: none;
  color: rgb(0, 0, 0, 0.5);
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  transition: 0.3s linear;
}

header aside ul li a:hover {
  color: #1ca1f1;
}

header aside ul li a i {
  margin-right: 10px;
  font-size: 20px;
}
/* active class list items */
header aside ul .li-active {
  border-right: 3px solid #1ca1f1;
}

header aside ul .li-active a {
  color: #1ca1f1;
}

header aside ul .li-active a {
  color: #1ca1f1;
}

header aside button {
  margin-top: 40px;
  padding: 10px 50px;
  border-radius: 20px;
  border: none;
  outline: none;
  color: #fff;
  background: #1ca1f1;
  transition: 0.3s linear;
  cursor: pointer;
}

header aside button:hover {
  background-color: rgb(19, 131, 200);
}

header section nav {
  width: 100%;
  height: 8%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
}

header section nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}

header section nav ul li {
  padding: 3px 25px 3px 0px;
}

header section nav ul li a {
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
  color: #000;
  transition: 0.3s linear;
}

header section nav ul li a:hover {
  color: grey;
}

header section nav .search-bar {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7f8fb;
  padding: 8px 15px;
  border-radius: 5px;
}

header section nav .search-bar input {
  width: 90%;
  padding: 3px 15px;
  border: none;
  outline: none;
  font-size: 12px;
  background: none;
}

header section nav .search-bar .bi {
  font-size: 14px;
}

header section nav .user {
  display: flex;
  align-items: center;
}

header section nav .user h6 {
  color: #000;
  font-size: 12px;
}

header section nav .user img {
  margin-left: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

header section::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 200px;
  background: url(https://cdn.pixabay.com/photo/2016/06/12/09/43/space-1451654__340.png)
    no-repeat center center/cover;
  top: 8%;
  border-radius: 0px 0px 20px 0px;
  opacity: 0.9;
}

header section .profile-post-follow-box {
  position: relative;
  top: 18%;
  width: 100%;
  height: 73%;
  display: flex;
  justify-content: center;
}

header section .profile-post-follow-box .profile-box {
  width: 250px;
  height: auto;
}

header section .profile-post-follow-box .profile-box .profile-card {
  position: relative;
  width: 100%;
  height: auto;
  background: #fff;
  box-shadow: 0 0 30px rgb(0, 0, 0, 0.2);
  padding: 15px 10px 0px 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

header
  section
  .profile-post-follow-box
  .profile-box
  .profile-card
  .blue-tick-profileCard {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 15px;
}

header
  section
  .profile-post-follow-box
  .profile-box
  .profile-card
  .profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

header section .profile-post-follow-box .profile-box .profile-card h5 {
  font-weight: 600;
  margin-top: 10px;
}

header section .profile-post-follow-box .profile-box .profile-card h6 {
  color: rgb(0, 0, 0, 0.3);
  font-size: 10px;
  padding: 2px 0;
}

header section .profile-post-follow-box .profile-box .profile-card address {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

header section .profile-post-follow-box .profile-box .profile-card address a {
  text-decoration: none;
  color: #000;
  font-size: 11px;
  font-style: normal;
}

header
  section
  .profile-post-follow-box
  .profile-box
  .profile-card
  address
  a:nth-child(2) {
  margin-left: 10px;
}

header section .profile-post-follow-box .profile-box .profile-card p {
  font-size: 10px;
  font-weight: 600;
  text-align: center;
  margin-top: 10px;
  padding: 0 5px;
  color: rgb(0, 0, 0, 0.8);
}

header section .profile-post-follow-box .profile-box .profile-card .data {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

header
  section
  .profile-post-follow-box
  .profile-box
  .profile-card
  .data
  .data-card {
  width: 33.33%;
}

header
  section
  .profile-post-follow-box
  .profile-box
  .profile-card
  .data
  .data-card:nth-child(2) {
  border-left: 1px solid rgb(0, 0, 0, 0.1);
  border-right: 1px solid rgb(0, 0, 0, 0.1);
}

header
  section
  .profile-post-follow-box
  .profile-box
  .profile-card
  .data
  .data-card
  p,
h4 {
  text-align: center;
  font-size: 10px;
  margin-top: 0px;
  color: rgb(0, 0, 0, 0.4);
}

header
  section
  .profile-post-follow-box
  .profile-box
  .profile-card
  .data
  .data-card
  h4 {
  font-size: 12px;
  padding: 3px 0 7px 0;
  color: #000;
}

header section .profile-post-follow-box .profile-box .activity-box {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 10px;
}

header
  section
  .profile-post-follow-box
  .profile-box
  .activity-box
  .activity-card-box {
  width: 115px;
  height: 90px;
  border: 2px solid rgb(213, 218, 222, 0.5);
  margin-top: 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: 0.3s linear;
  cursor: pointer;
}

header
  section
  .profile-post-follow-box
  .profile-box
  .activity-box
  .activity-card-box:nth-child(1) {
  background-color: #fff;
  box-shadow: 0 0 20px rgb(0, 0, 0, 0.1);
  border: 1px solid #fff;
}

header
  section
  .profile-post-follow-box
  .profile-box
  .activity-box
  .activity-card-box
  i,
h6 {
  font-size: 20px;
  color: #d5dade;
  padding-top: 10px;
  transition: 0.3s linear;
}

header
  section
  .profile-post-follow-box
  .profile-box
  .activity-box
  .activity-card-box
  h6 {
  color: rgb(0, 0, 0, 0.6);
  font-size: 11px;
}

header
  section
  .profile-post-follow-box
  .profile-box
  .activity-box
  .activity-card-box:hover {
  background: #fff;
  border: 2px solid #fff;
  box-shadow: 0 0 20px rgb(0, 0, 0, 0.1);
}

header
  section
  .profile-post-follow-box
  .profile-box
  .activity-box
  .activity-card-box:hover
  h6 {
  color: #1ca1f1;
}

header
  section
  .profile-post-follow-box
  .profile-box
  .activity-box
  .activity-card-box:hover
  i {
  color: #1ca1f1;
}

header
  section
  .profile-post-follow-box
  .profile-box
  .activity-box
  .activity-card-box:nth-child(1)
  h6 {
  color: #1ca1f1;
}

header
  section
  .profile-post-follow-box
  .profile-box
  .activity-box
  .activity-card-box:nth-child(1)
  i {
  color: #1ca1f1;
}

header section .profile-post-follow-box .post-follow-box {
  width: auto;
  height: auto;
  margin-left: 20px;
  display: flex;
}

header section .profile-post-follow-box .post-follow-box .post-box {
  width: 500px;
  height: 100%;
  background: #fff;
  box-shadow: 0 0 20px rgb(0, 0, 0, 0.1);
  border-radius: 8px;
}

header section .profile-post-follow-box .post-follow-box .follow-box {
  width: 250px;
  height: auto;
  margin-left: 15px;
  /* border: 1px solid black; */
}

header section .profile-post-follow-box .post-follow-box .post-box nav {
  border-radius: 8px 8px 0 0;
  border-bottom: 1px solid rgb(0, 0, 0, 0.1);
  height: 10%;
}

header section .profile-post-follow-box .post-follow-box .post-box nav li {
  border-bottom: 3px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px 0px;
  margin-right: 10px;
  transition: 0.3s linear;
}

header
  section
  .profile-post-follow-box
  .post-follow-box
  .post-box
  nav
  li:hover {
  border-bottom: 3px solid #1ca1f1;
}

header section .profile-post-follow-box .post-follow-box .post-box nav li a {
  padding: 12px 10px;
}

header
  section
  .profile-post-follow-box
  .post-follow-box
  .post-box
  nav
  li
  a:hover {
  color: #1ca1f1;
}

header section .profile-post-follow-box .post-follow-box .post-box nav i {
  color: rgb(0, 0, 0, 0.6);
  cursor: pointer;
  transition: 0.3s linear;
}

header section .profile-post-follow-box .post-follow-box .post-box nav i:hover {
  color: rgb(0, 0, 0);
}
header
  section
  .profile-post-follow-box
  .post-follow-box
  .post-box
  .post-main-box {
  width: 100%;
  height: 90%;
  overflow: auto;
}
header
  section
  .profile-post-follow-box
  .post-follow-box
  .post-box
  .post-main-box::-webkit-scrollbar {
  width: 5px;
  background: rgb(0, 0, 0, 0.1);
  border-radius: 20px;
  visibility: hidden;
}
header
  section
  .profile-post-follow-box
  .post-follow-box
  .post-box
  .post-main-box::-webkit-scrollbar-thumb {
  width: 5px;
  background: rgb(0, 0, 0, 0.2);
  border-radius: 20px;
  visibility: hidden;
}
header
  section
  .profile-post-follow-box
  .post-follow-box
  .post-box
  .post-main-box:hover::-webkit-scrollbar {
  visibility: visible;
}
header
  section
  .profile-post-follow-box
  .post-follow-box
  .post-box
  .post-main-box:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}
header
  section
  .profile-post-follow-box
  .post-follow-box
  .post-box
  .post-main-box
  .post-card-box {
  width: 100%;
  height: auto;
  background: #fff;
  padding: 12px 15px 0 15px;
  display: flex;
}
header
  section
  .profile-post-follow-box
  .post-follow-box
  .post-box
  .post-main-box
  .home-page-first-box {
  width: 100%;
  height: auto;
  background: #fff;
  padding: 12px 15px 0 15px;
  display: flex;
}
header
  section
  .profile-post-follow-box
  .post-follow-box
  .post-box
  .post-main-box
  .home-page-first-box
  .home-profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
header
  section
  .profile-post-follow-box
  .post-follow-box
  .post-box
  .post-main-box
  .home-page-first-box
  .write-tweet-box {
  position: relative;
  width: 90%;
  height: auto;
  /* border: 1px solid black; */
  margin-left: 10px;
}
header
  section
  .profile-post-follow-box
  .post-follow-box
  .post-box
  .post-main-box
  .home-page-first-box
  .write-tweet-box
  button {
  padding: 3px 10px;
  border-radius: 20px;
  border: 1px solid rgb(28, 161, 241, 0.6);
  background: none;
  outline: none;
  text-align: center;
  color: #1ca1f1;
  font-weight: 600;
  cursor: pointer;
}
header
  section
  .profile-post-follow-box
  .post-follow-box
  .post-box
  .post-main-box
  .home-page-first-box
  .write-tweet-box
  .show-box {
  width: 200px;
  height: auto;
  padding: 10px;
  background: #fff;
  box-shadow: 0px 0px 20px rgb(0, 0, 0, 0.2);
  position: absolute;
  border-radius: 10px;
  display: none;
  top: 30px;
  left: 0;
  z-index: 999999999999999999999999999999;
}
/* JavaScript class */
header
  section
  .profile-post-follow-box
  .post-follow-box
  .post-box
  .post-main-box
  .home-page-first-box
  .write-tweet-box
  .show-box-active {
  display: unset;
}
header
  section
  .profile-post-follow-box
  .post-follow-box
  .post-box
  .post-main-box
  .home-page-first-box
  .write-tweet-box
  .show-box
  h6 {
  padding: 0;
  font-size: 15px;
  color: #000;
}
header
  section
  .profile-post-follow-box
  .post-follow-box
  .post-box
  .post-main-box
  .home-page-first-box
  .write-tweet-box
  .show-box
  li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0 5px 8px;
  margin-top: 8px;
  cursor: pointer;
}
header
  section
  .profile-post-follow-box
  .post-follow-box
  .post-box
  .post-main-box
  .home-page-first-box
  .write-tweet-box
  .show-box
  li:nth-child(2) {
  margin-top: 20px;
}
header
  section
  .profile-post-follow-box
  .post-follow-box
  .post-box
  .post-main-box
  .home-page-first-box
  .write-tweet-box
  .show-box
  li
  i:nth-child(2) {
  color: #fff;
  font-size: 13px;
}
header
  section
  .profile-post-follow-box
  .post-follow-box
  .post-box
  .post-main-box
  .home-page-first-box
  .write-tweet-box
  .show-box
  li
  i:nth-child(1) {
  margin-right: 15px;
  z-index: 2;
  font-size: 13px;
  color: #fff;
}
header
  section
  .profile-post-follow-box
  .post-follow-box
  .post-box
  .post-main-box
  .home-page-first-box
  .write-tweet-box
  .show-box
  li::before {
  content: "";
  position: absolute;
  height: 30px;
  width: 30px;
  background: #1ca1f1;
  border-radius: 50%;
  left: 9px;
  z-index: 1;
}
header
  section
  .profile-post-follow-box
  .post-follow-box
  .post-box
  .post-main-box
  .home-page-first-box
  .write-tweet-box
  .show-box
  li
  h6 {
  font-size: 13px;
}
header
  section
  .profile-post-follow-box
  .post-follow-box
  .post-box
  .post-main-box
  .home-page-first-box
  .write-tweet-box
  .show-box
  li
  span {
  font-size: 12px;
}
header
  section
  .profile-post-follow-box
  .post-follow-box
  .post-box
  .post-main-box
  .home-page-first-box
  .write-tweet-box
  .show-box
  li
  button {
  font-size: 8px;
}
header
  section
  .profile-post-follow-box
  .post-follow-box
  .post-box
  .post-main-box
  .home-page-first-box
  .write-tweet-box
  .show-box
  li
  div:nth-child(1) {
  display: flex;
  align-items: center;
}
header
  section
  .profile-post-follow-box
  .post-follow-box
  .post-box
  .post-main-box
  .home-page-first-box
  .write-tweet-box
  textarea {
  font-size: 18px;
  margin-top: 15px;
  border: none;
  outline: none;
  width: 100%;
  resize: none;
  overflow: hidden;
  min-height: 30px;
  max-height: 200px;
  font-family: "Poppins", sans-serif;
}
header
  section
  .profile-post-follow-box
  .post-follow-box
  .post-box
  .post-main-box
  .home-page-first-box
  .write-tweet-box
  .select-reply-button {
  border: none;
  padding: 0;
}
header
  section
  .profile-post-follow-box
  .post-follow-box
  .post-box
  .post-main-box
  .home-page-first-box
  .write-tweet-box
  .who-can-reply-box {
  width: 250px;
  top: 68%;
}
header
  section
  .profile-post-follow-box
  .post-follow-box
  .post-box
  .post-main-box
  .home-page-first-box
  .write-tweet-box
  .who-can-reply-box
  p {
  font-size: 10px;
}
header
  section
  .profile-post-follow-box
  .post-follow-box
  .post-box
  .post-main-box
  .home-page-first-box
  .write-tweet-box 
  .attach-media{
  width: 100%;
  height: auto;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid rgb(0, 0, 0, 0.1);
  margin-top: 10px;
}
header
  section
  .profile-post-follow-box
  .post-follow-box
  .post-box
  .post-main-box
  .home-page-first-box
  .write-tweet-box 
  .attach-media
  .select-media{
    display: flex;
    align-items: center;
}
header
  section
  .profile-post-follow-box
  .post-follow-box
  .post-box
  .post-main-box
  .home-page-first-box
  .write-tweet-box 
  .attach-media
  .select-media 
  .media-card {
    width: 20px;
    height: 20px;
    /* border: 1px solid #1ca1f1; */
    margin-right: 8px;
    color: rgb(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}
header
  section
  .profile-post-follow-box
  .post-follow-box
  .post-box
  .post-main-box
  .home-page-first-box
  .write-tweet-box 
  .attach-media
  .select-media 
  .media-card
  input {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999999;
    opacity: 0;
}
header
  section
  .profile-post-follow-box
  .post-follow-box
  .post-box
  .post-main-box
  .home-page-first-box
  .write-tweet-box 
  .attach-media
  .tweet-letter-count {
    display: flex;
    align-items: center;
}
header
  section
  .profile-post-follow-box
  .post-follow-box
  .post-box
  .post-main-box
  .home-page-first-box
  .write-tweet-box 
  .attach-media
  .tweet-letter-count
  h6 {
    padding: 0;
    font-size: 10px;
    color: rgb(0, 0, 0, 0.8);
    margin-right: 10px;
}
header
  section
  .profile-post-follow-box
  .post-follow-box
  .post-box
  .post-main-box
  .home-page-first-box
  .write-tweet-box 
  .attach-media
  .tweet-letter-count
  button {
    background: rgb(28, 161, 241, 0.5);
    border: none;
    color: #fff;
    font-size: 12px;
    transition: .3s linear;
    padding: 7px 15px ;
}
header
  section
  .profile-post-follow-box
  .post-follow-box
  .post-box
  .post-main-box
  .home-page-first-box
  .write-tweet-box 
  .attach-media
  .tweet-letter-count
  button:hover {
    background: rgb(28, 161, 241);
}
header
  section
  .profile-post-follow-box
  .post-follow-box
  .post-box
  .post-main-box
  .post-card-box
  .post-profile {
  width: 10%;
}
header
  section
  .profile-post-follow-box
  .post-follow-box
  .post-box
  .post-main-box
  .post-card-box
  .post-profile
  img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
header
  section
  .profile-post-follow-box
  .post-follow-box
  .post-box
  .post-main-box
  .post-card-box
  .content {
  width: 90%;
  border: 2px solid rgb(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 0 10px;
}
header
  section
  .profile-post-follow-box
  .post-follow-box
  .post-box
  .post-main-box
  .post-card-box
  .content
  .retweet {
  color: rgb(0, 0, 0, 0.3);
  font-size: 11px;
  display: flex;
  align-items: center;
}
header
  section
  .profile-post-follow-box
  .post-follow-box
  .post-box
  .post-main-box
  .post-card-box
  .content
  .retweet
  i {
  font-size: 10px;
  margin-right: 5px;
}
header
  section
  .profile-post-follow-box
  .post-follow-box
  .post-box
  .post-main-box
  .post-card-box
  .content
  .user-name-time {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header
  section
  .profile-post-follow-box
  .post-follow-box
  .post-box
  .post-main-box
  .post-card-box
  .content
  .user-name-time
  h5 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;
  font-weight: 600;
  margin-top: 5px;
}
header
  section
  .profile-post-follow-box
  .post-follow-box
  .post-box
  .post-main-box
  .post-card-box
  .content
  .user-name-time
  h5
  img {
  width: 15px;
  margin-left: 10px;
}
header
  section
  .profile-post-follow-box
  .post-follow-box
  .post-box
  .post-main-box
  .post-card-box
  .content
  .user-name-time
  h5
  p {
  font-size: 12px;
  color: rgb(0, 0, 0, 0.3);
  margin-left: 10px;
}
header
  section
  .profile-post-follow-box
  .post-follow-box
  .post-box
  .post-main-box
  .post-card-box
  .content
  .user-name-time
  h6 {
  color: #000;
  font-size: 10px;
  font-weight: 600;
}
header
  section
  .profile-post-follow-box
  .post-follow-box
  .post-box
  .post-main-box
  .post-card-box
  .content
  .user-name-time
  h6
  i {
  font-size: 12px;
  margin-right: 3px;
}
header
  section
  .profile-post-follow-box
  .post-follow-box
  .post-box
  .post-main-box
  .post-card-box
  .content
  h3 {
  font-size: 11px;
  font-weight: 500;
  word-break: break-all;
  margin-top: 10px;
}
header
  section
  .profile-post-follow-box
  .post-follow-box
  .post-box
  .post-main-box
  .post-card-box
  .content
  .retweet-content-box {
  width: 100%;
  height: auto;
  padding: 5px 10px;
  border: 2px solid rgb(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 10px 0 10px 0;
}
header
  section
  .profile-post-follow-box
  .post-follow-box
  .post-box
  .post-main-box
  .post-card-box
  .content
  .retweet-content-box
  .user-name-time
  h5
  img:nth-child(1) {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 10px;
}
header
  section
  .profile-post-follow-box
  .post-follow-box
  .post-box
  .post-main-box
  .post-card-box
  .content
  .tweet-card-social-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}
header
  section
  .profile-post-follow-box
  .post-follow-box
  .post-box
  .post-main-box
  .post-card-box
  .content
  .tweet-card-social-data
  .tweet-social-card {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
header
  section
  .profile-post-follow-box
  .post-follow-box
  .post-box
  .post-main-box
  .post-card-box
  .content
  .tweet-card-social-data
  .tweet-social-card:nth-child(2) {
  border-left: 1px solid rgb(0, 0, 0, 0.1);
  border-right: 1px solid rgb(0, 0, 0, 0.1);
}
header
  section
  .profile-post-follow-box
  .post-follow-box
  .post-box
  .post-main-box
  .post-card-box
  .content
  .tweet-card-social-data
  .tweet-social-card:nth-child(3) {
  border-right: 1px solid rgb(0, 0, 0, 0.1);
}
header
  section
  .profile-post-follow-box
  .post-follow-box
  .post-box
  .post-main-box
  .post-card-box
  .content
  .tweet-card-social-data
  .tweet-social-card
  i {
  color: rgb(0, 0, 0, 0.2);
  margin-right: 5px;
  font-size: 14px;
}
header
  section
  .profile-post-follow-box
  .post-follow-box
  .post-box
  .post-main-box
  .post-card-box
  .content
  .tweet-card-social-data
  .tweet-social-card
  span {
  font-size: 13px;
  font-weight: 500;
}
header
  section
  .profile-post-follow-box
  .post-follow-box
  .post-box
  .post-main-box
  .post-card-box
  .content
  .tweet-card-social-data
  .tweet-social-card:nth-child(3)
  i {
  color: red;
}
header
  section
  .profile-post-follow-box
  .post-follow-box
  .post-box
  .post-main-box
  .post-card-box
  .content
  .image-post-box {
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 10px;
}
header
  section
  .profile-post-follow-box
  .post-follow-box
  .post-box
  .post-main-box
  .post-card-box
  .content
  .img-post-box
  img {
  width: 120px;
  height: 90px;
  border-radius: 5px;
  margin-right: 5px;
}
header
  section
  .profile-post-follow-box
  .post-follow-box
  .follow-box
  .trend-for-you {
  width: 100%;
  height: auto;
  background: #fff;
  box-shadow: 0 0 20px rgb(0, 0, 0, 0.1);
  border-radius: 5px;
}
header
  section
  .profile-post-follow-box
  .post-follow-box
  .follow-box
  .trend-for-you
  nav {
  width: 100%;
  height: auto;
  padding: 15px;
  align-items: center;
  border-radius: 8px 8px 0 0;
  border-bottom: 1px solid rgb(0, 0, 0, 0.1);
}
header
  section
  .profile-post-follow-box
  .post-follow-box
  .follow-box
  .trend-for-you
  nav
  h6 {
  font-size: 12px;
  color: #000;
  padding: 0;
}
header
  section
  .profile-post-follow-box
  .post-follow-box
  .follow-box
  .trend-for-you
  .trend-box {
  width: 100%;
  height: auto;
  padding: 15px 15px 0 15px;
}
header
  section
  .profile-post-follow-box
  .post-follow-box
  .follow-box
  .trend-for-you
  .trend-box
  li {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0;
}
header
  section
  .profile-post-follow-box
  .post-follow-box
  .follow-box
  .trend-for-you
  .trend-box
  li
  a {
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
  color: #000;
}
header
  section
  .profile-post-follow-box
  .post-follow-box
  .follow-box
  .trend-for-you
  .trend-box
  li
  a
  p {
  text-decoration: none;
  font-size: 10px;
  font-weight: 500;
  color: rgb(0, 0, 0, 0.4);
}
header
  section
  .profile-post-follow-box
  .post-follow-box
  .follow-box
  .trend-for-you
  .trend-box
  li
  i {
  font-size: 12px;
}
header
  section
  .profile-post-follow-box
  .post-follow-box
  .follow-box
  .trend-for-you
  .trend-box
  .rate
  button {
  border: none;
  outline: none;
  background: none;
  margin-right: 5px;
  color: rgb(0, 0, 0, 0.6);
  transition: 0.3s linear;
  cursor: pointer;
}
header
  section
  .profile-post-follow-box
  .post-follow-box
  .follow-box
  .trend-for-you
  .trend-box
  .rate
  button:hover {
  color: rgb(0, 0, 0);
}
header
  section
  .profile-post-follow-box
  .post-follow-box
  .follow-box
  .trend-for-you
  .trend-box
  .rate
  button
  i {
  margin-right: 5px;
}
header
  section
  .profile-post-follow-box
  .post-follow-box
  .follow-box
  .trend-for-you
  .trend-box
  .rate
  .interest {
  height: 0;
  overflow: hidden;
}
header
  section
  .profile-post-follow-box
  .post-follow-box
  .follow-box
  .trend-for-you
  .trend-box
  .see-more {
  width: 100%;
  border: none;
  background: none;
  outline: none;
  color: rgb(0, 0, 0, 0.4);
  font-size: 11px;
  font-weight: 600;
  padding: 10px 0px;
  text-align: center;
  transition: 0.3s linear;
  cursor: pointer;
}
header
  section
  .profile-post-follow-box
  .post-follow-box
  .follow-box
  .trend-for-you
  .trend-box
  .see-more:hover {
  color: #000;
}
header
  section
  .profile-post-follow-box
  .post-follow-box
  .follow-box
  .you-should-follow {
  margin-top: 15px;
}
header
  section
  .profile-post-follow-box
  .post-follow-box
  .follow-box
  .you-should-follow
  .follow-box {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 15px 0px 15px;
}
header
  section
  .profile-post-follow-box
  .post-follow-box
  .follow-box
  .you-should-follow
  .follow-box
  .follow-profile-name {
  display: flex;
  align-items: center;
  margin-top: 10px;
  width: 60%;
}
header
  section
  .profile-post-follow-box
  .post-follow-box
  .follow-box
  .you-should-follow
  .follow-box
  .follow-profile-name
  img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
header
  section
  .profile-post-follow-box
  .post-follow-box
  .follow-box
  .you-should-follow
  .follow-box
  .follow-profile-name
  .user-name {
  margin-left: 10px;
  width: 80%;
}
header
  section
  .profile-post-follow-box
  .post-follow-box
  .follow-box
  .you-should-follow
  .follow-box
  .follow-profile-name
  .user-name
  .user-name-follow {
  color: #000;
  display: flex;
  align-items: center;
}
header
  section
  .profile-post-follow-box
  .post-follow-box
  .follow-box
  .you-should-follow
  .follow-box
  .follow-profile-name
  .user-name
  .user-name-follow
  h6 {
  color: #000;
  padding: 0;
  width: 100%;
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
header
  section
  .profile-post-follow-box
  .post-follow-box
  .follow-box
  .you-should-follow
  .follow-box
  .follow-profile-name
  .user-name
  .user-name-follow
  img {
  width: 15px;
  height: 15px;
  margin-left: 2px;
}
header
  section
  .profile-post-follow-box
  .post-follow-box
  .follow-box
  .you-should-follow
  .follow-box
  .follow-profile-name
  .user-name
  p {
  font-size: 11px;
  color: rgb(0, 0, 0, 0.4);
  font-weight: 600;
}
header
  section
  .profile-post-follow-box
  .post-follow-box
  .follow-box
  .you-should-follow
  .follow-box
  button {
  border: none;
  outline: none;
  padding: 8px 12px;
  background: #1ca1f1;
  color: #fff;
  border-radius: 20px;
  font-size: 10px;
  transition: 0.3s linear;
  cursor: pointer;
}
header
  section
  .profile-post-follow-box
  .post-follow-box
  .follow-box
  .you-should-follow
  .follow-box
  button:hover {
  background: rgb(28, 161, 241, 0.5);
}
header
  section
  .profile-post-follow-box
  .post-follow-box
  .follow-box
  .you-should-follow
  .see-more {
  width: 100%;
  border: none;
  background: none;
  outline: none;
  color: rgb(0, 0, 0, 0.4);
  font-size: 11px;
  font-weight: 600;
  padding: 7px 0px;
  text-align: center;
  transition: 0.3s linear;
  cursor: pointer;
}
header
  section
  .profile-post-follow-box
  .post-follow-box
  .follow-box
  .you-should-follow
  .see-more:hover {
  color: #000;
}
